body {
    margin: .25em;
	background: linear-gradient(#000000 40%, #E5E5E5); 

    font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #E5E5E5;
    text-decoration: underline;
}


.select
{
	position: fixed;
	width: 99%;
	height: 95px;
	border-style: solid;
	border-color: #000000;
	background: linear-gradient(#0004ff -44%, #ecebff); 
}


.select #label
{
font-size: 32px;
}


.select #img
{
	position: absolute;
	height: 100px;
	width: 100px;
	align-items: center;
	bottom: -3%;
	left: 47%;
}


.select #content
{
	display: none;
	background: rgba(88, 88, 88, 0.928);
	color: snow;
	cursor: pointer;

}

.select #content option
{
	color: snow;
	display: block;
	cursor: pointer;

}


#content a:hover 
{background-color: #3a3a3a}

.select #sL
{
	position: absolute;
	height: auto;
	width: auto;
	left: 3%;
}

.select #MM
{
	position: absolute;

	height: auto;
	width: auto;
	left: 25%;

}

.select #port
{
	position: absolute;

	height: auto;
	width: auto;
	left: 61%;

}

.select #gJ
{
	position: absolute;
	height: auto;
	width: auto;
	left: 80%;

}

#sL:hover #content
{
	display: block;
}

#gJ:hover #content
{
	display: block;
}

#MM:hover #content
{
	display: block;
}

#port:hover #content
{
	display: block;
}


.select option {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

  #gJimg img
{ 
	display: block;
	width: 90%;
	height: 10%;
}

#sLgPimg
{
	width: 100%;

}

#sLinfo 
{
width: 100%;

}

.clear {
    clear: both;
}

.main-image {
    float: right;
}

#logo
{
	text-align: center;
	color: #ff0000;
	background: -webkit-linear-gradient(#000000, 40% #E5E5E5); 
	background: -o-linear-gradient(#000000, 40% #E5E5E5); 
	background: -moz-linear-gradient(#000000 40%, #ffffff); 
	background: linear-gradient(#000000 40%, #E5E5E5); 
}

#img
{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	height: 500px;
	width: 500px;
	position: relative;
	align-content: center;

}



#left-nav li
{
	margin-bottom: .0em;
	background-color: #cdd63200;
}

#left-nav  a
{
	color: #ff0000;
	text-shadow: 3px 3px 5px #ffd8dc;
	font-size: 1.15em;
	font-weight: bold;
}

#main {
	color: #E5E5E5;
    background-color: #1d1d1d;
    min-height: 400px;
}

dt {
    text-decoration: underline;
}

br{
	color: #000000;
}

footer 
{
    margin-top: 0px;
	height: 3em;
	font-size: small;
	font-style: italic;
	text-align: right;
	background: -webkit-linear-gradient(#ffffff, 40% #000000); 
	background: -o-linear-gradient(#ffffff, 40% #000000); 
	background: -moz-linear-gradient(#ffffff 40%, #000000); 
	background: linear-gradient(#ffffff 40%, #000000); 

}